*{
    margin: 0;
    padding: 0;
    background-color:#efece6;
    text-align: center;
}


h1{
    background-color:#ff4191;
    color: white;
    height: 4rem;
    line-height: 4rem;
    display: inline;
    border-radius: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow:4px 8px 16px rgb(211, 112, 171) ;
    
} 

.choice{
    height: 190px;
    width: 190px;
    margin: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover{
    
    cursor:pointer;
    
   
    transition: 1s;
}

#rock:hover{
    box-shadow: 0 8px 16px #e058b9;
}
#paper:hover{
    box-shadow: 0 8px 16px #d16ce3e1;
}
#scissors:hover{
    box-shadow: 0 8px 16px #7eb6ffe1;
}


img{
    height: 170px;
    width:  170px;
    border-radius: 50%;
    object-fit: cover;
    
}  


.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
} 

.score-board{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    gap: 5rem;
    color: rgb(26, 24, 24);
   
    
}

.score-board:hover{
    cursor:pointer
}

#user,#computer{
    font-size: 4rem;
    background-color: rgb(245, 245, 235);
    
    
}

.score{
    box-shadow:4px 8px 16px rgb(85, 86, 82) ;
    padding: 1rem;
    
}


.msg_container{
    margin-top: 3rem;
}

#msg{

   
    background-color:#E90074 ;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
    box-shadow:4px 8px 16px rgb(241, 76, 175) ;
}
